[Desktop Entry]
Version=1.0
Type=Application
Name=webstat
Comment=Minimal stdeb example
# myscript should wait for user input at the end, else the terminal
# window will disappear immediately.
Exec=webstat
Icon=/home/smohammad/Downloads/Icon-icon.png
Categories=Utility;
# desktop should run this in a terminal application
Terminal=true
StartupNotify=true
StartupWMClass=webstat
